<body id="signin-page">
    <div class="form">
        <div class="form-title">Sign In</div>
        <div class="input-container">
            <input type="email" [(ngModel)]="loginobj.ContactNo" placeholder="ContactNo">
        </div>
        <div class="input-container password-container">
            <input type="password" [(ngModel)]="loginobj.Password" placeholder="Password">
        </div>
        <div class="role-buttons">
            <button class="role-btn organiser" [ngClass]="{'selected': loginobj.Role === 'Organiser'}"
                (click)="loginobj.Role = 'Organiser'">I am an organiser</button>
            <button class="role-btn customer" [ngClass]="{'selected': loginobj.Role === 'Customer'}"
                (click)="loginobj.Role = 'Customer'">I am a customer</button>
        </div>
        <button class="submit" (click)="onLogin()">Submit</button>
        <div class="login-link">
            Don't have an account? <a class="link" routerLink='/signup'>Sign up</a>
        </div>
    </div>
</body>