<div class="container">
  <div class="nav">
    <h1 class="logo">Eventlify</h1>
    <nav>
      <ul class="nav-links">
        <li><a class="nav-link" routerLink="home">home</a></li>
        <li><a class="nav-link" routerLink="allevents">allevents</a></li>
        <li><a class="nav-link" routerLink="mybookings">Edit event</a></li>
        <li><a class="nav-link" routerLink="mybookings">Filter</a></li>
      </ul>
    </nav>
    <a class="call-btn" routerLink="login">Login</a>
  </div>
</div>

<router-outlet></router-outlet>