/* General Styles */
body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.container {
  width: 100%;
  background-color: #1c3b57;
  /* Dark Blue */
  padding: 0;
  /* Remove any padding */
  margin: 0;
  /* Remove any margin */
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #2a4a67;
  /* Light Blue */
  width: calc(100vw - 20px);
  /* 100% of the viewport width minus padding */
  box-sizing: border-box;
  /* Ensure padding is included in width */
  margin: 0 auto;
  /* Center the navbar */
  padding-right: 10px;
  /* Adjust right padding to move it inside */
}

.logo {
  color: #fff;
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0;
}

nav {
  flex-grow: 1;
}

.nav-links {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.nav-link {
  color: #fff;
  text-decoration: none;
  margin-left: 20px;
  font-size: 16px;
  text-transform: uppercase;
}

.nav-link:hover {
  color: #eb5d57;
  /* Soft Red */
}

.call-btn {
  color: #fff;
  background-color: #eb5d57;
  /* Soft Red */
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  font-size: 16px;
  margin-left: 20px;
}

.call-btn:hover {
  background-color: #c04c47;
  /* Darker Red */
}

.call-btn:active {
  transform: scale(0.98);
}

/* For router-outlet container */
router-outlet {
  margin-top: 20px;
}