<div class="container">
  <div class="nav">
    <h1 class="logo">Eventlify</h1>
    <nav>
      <ul class="nav-links">
        <li><a class="nav-link" routerLink="home">Home</a></li>
        <li><a class="nav-link" routerLink="allevents">All Events</a></li>
        <li><a class="nav-link" routerLink="login">My Bookings</a></li>
      </ul>
    </nav>

    <!-- Show Login if not logged in -->
    <a class="call-btn" *ngIf="!isLoggedIn" routerLink="login">Login</a>

    <!-- Show Logout if logged in -->
    <a class="call-btn" *ngIf="isLoggedIn" (click)="logout()">Logout</a>
  </div>
</div>

<router-outlet></router-outlet>